<header class="pages-head">
  <div class="container pages-head__container">
    <nav class="head-nav pages-head__head-nav">
      <a class="link logo head-nav__logo" href="./index.html"
        ><span class="logo__accent">Web</span>Studio</a
      >
      <ul class="list site-nav head-nav__site-nav">
        <li class="site-nav__item">
          <a href="./index.html" class="site-nav__link link">Студія</a>
        </li>
        <li class="site-nav__item">
          <a
            href="./portfolio.html"
            class="site-nav__link link site-nav__link--current"
            >Портфоліо</a
          >
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link link">Контакти</a>
        </li>
      </ul>
    </nav>
    <ul class="list contacts contacts--header pages-head__contacts">
      <li class="contacts__item">
        <a href="mailto:info@devstudio.com" class="link contacts__link">
          <svg class="contacts__icon icon mail-icon" width="16" height="12">
            <use href="./images/icons.svg#icon-envelope"></use>
          </svg>
          info@devstudio.com</a
        >
      </li>
      <li class="contacts__item">
        <a href="tel:+380961111111" class="link contacts__link">
          <svg class="contacts__icon icon tel-icon" width="10" height="16">
            <use href="./images/icons.svg#icon-smartphone"></use>
          </svg>
          +38 096 111 11 11</a
        >
      </li>
    </ul>
    <button class="button button-icon menu-toggle js-open-menu">
      <svg class="head-nav__icon" width="40" height="40">
        <use href="./images/icons.svg#icon-phone-menu"></use>
      </svg>
    </button>
  </div>
</header>
