<section class="section portfolio">
  <div class="container">
    <h1 class="visually-hidden">Портфоліо</h1>

    <ul class="list choise-buttons portfolio__choise-buttons">
      <li class="sort-list__item">
        <button
          type="button"
          class="button choise-buttons__button choise-buttons__button--all"
        >
          Усі
        </button>
      </li>
      <li class="choise-buttons__item">
        <button type="button" class="button choise-buttons__button">
          Веб-сайти
        </button>
      </li>
      <li class="choise-buttons__item">
        <button type="button" class="button choise-buttons__button">
          Додатки
        </button>
      </li>
      <li class="choise-buttons__item">
        <button type="button" class="button choise-buttons__button">
          Дизайн
        </button>
      </li>
      <li class="choise-buttons__item">
        <button type="button" class="button choise-buttons__button">
          Маркетинг
        </button>
      </li>
    </ul>

    <ul class="list portfolio-list">
      <li class="project-card portfolio-list__item">
        <div class="project-card__thumb">
          <img
            class="image project-card__image"
            src="./images/portfolio/technokriak-web.jpg"
            alt="Сайт Технокряк"
            width="370"
          />
          <p class="project-card__article">
            Технокряк - це сайт для злому Ваших цифрових аккаунтів. Хтось
            "крякнув" Ваш банківський рахунок? Швидше за все, це були ми! Або
            ні)
          </p>
        </div>
        <div class="project-card__description">
          <h2 class="title project-card__title">Технокряк</h2>
          <p class="project-card__kind">Веб-сайт</p>
        </div>
      </li>
      <li class="project-card portfolio-list__item">
        <div class="project-card__thumb">
          <img
            class="image project-card__image"
            src="./images/portfolio/basketball.jpg"
            alt="Постер гри New Orlean vs Golden Star"
            width="370"
          />
          <p class="project-card__article">
            Хочете знати, як прийшла ідея з дизайном цього постера? Наш фотограф
            просто заставив баскетболістів цибнути у воду! Не питайте, як він це
            зробив!
          </p>
        </div>
        <div class="project-card__description">
          <h2 class="title project-card__title">
            Постер New Orlean vs Golden Star
          </h2>
          <p class="project-card__kind">Дизайн</p>
        </div>
      </li>
      <li class="project-card portfolio-list__item">
        <div class="project-card__thumb">
          <img
            class="image project-card__image"
            src="./images/portfolio/seafood.jpg"
            alt="Лого ресторану Seafood"
            width="370"
          />
          <p class="project-card__article">
            The Seafood - єдиний в Техасі ресторан морської їжі! Тільки
            найсвіжіші продукти! Присягаємось, що вся наша їжа була живою, коли
            її виловили із океану!
          </p>
        </div>
        <div class="project-card__description">
          <h2 class="title project-card__title">Ресторан Seafood</h2>
          <p class="project-card__kind">Додаток</p>
        </div>
      </li>
      <li class="project-card portfolio-list__item">
        <div class="project-card__thumb">
          <img
            class="image project-card__image"
            src="./images/portfolio/prime.jpg"
            alt="Дизайн проєкта Prime"
            width="370"
          />
          <p class="project-card__article">
            Ми просто продаємо підробні китайські навушники. Чому Prime? А як ще
            заставити Вас купити підробні китайські навушники?
          </p>
        </div>
        <div class="project-card__description">
          <h2 class="title project-card__title">Проєкт Prime</h2>
          <p class="project-card__kind">Маркетинг</p>
        </div>
      </li>
      <li class="project-card portfolio-list__item">
        <div class="project-card__thumb">
          <img
            class="image project-card__image"
            src="./images/portfolio/boxes.jpg"
            alt="Дизайн проєкта Boxes"
            width="370"
          />
          <p class="project-card__article">
            Пропонуємо запакувати в наші коробочки все, що Ваша душа забажає, -
            від подарункового мила до колишнього, який вибішує! ;)
          </p>
        </div>
        <div class="project-card__description">
          <h2 class="title project-card__title">Проєкт Boxes</h2>
          <p class="project-card__kind">Додаток</p>
        </div>
      </li>
      <li class="project-card portfolio-list__item">
        <div class="project-card__thumb">
          <img
            class="image project-card__image"
            src="./images/portfolio/inspiration-web.jpg"
            alt="Дизайн сайту Inspiration has no Borders"
            width="370"
          />
          <p class="project-card__article">
            Наше натхнення не знає кордонів, тому ми вирішили зробити свій сайт
            в нудних чорно-білих кольорах!
          </p>
        </div>
        <div class="project-card__description">
          <h2 class="title project-card__title">Inspiration has no Borders</h2>
          <p class="project-card__kind">Веб-сайт</p>
        </div>
      </li>
      <li class="project-card portfolio-list__item">
        <div class="project-card__thumb">
          <img
            class="image project-card__image"
            src="./images/portfolio/limited-edition.jpg"
            alt="Дизайн видання Limited Edition"
            width="370"
          />
          <p class="project-card__article">
            Видання Limited Edition у найкращому вигляді реалізує Ваші амбітні
            плани із задоволення Вашого Его і видасть Вам книгу у кількості 1шт.
          </p>
        </div>
        <div class="project-card__description">
          <h2 class="title project-card__title">Видання Limited Edition</h2>
          <p class="project-card__kind">Дизайн</p>
        </div>
      </li>
      <li class="project-card portfolio-list__item">
        <div class="project-card__thumb">
          <img
            class="image project-card__image"
            src="./images/portfolio/lab.jpg"
            alt="Дизайн проєкта LAB"
            width="370"
          />
          <p class="project-card__article">
            Проєкт LAB - це амбіційний мертвонароджений проєкт з продажу
            лабораторних робіт із оккультизму
          </p>
        </div>
        <div class="project-card__description">
          <h2 class="title project-card__title">Проєкт LAB</h2>
          <p class="project-card__kind">Маркетинг</p>
        </div>
      </li>
      <li class="project-card portfolio-list__item">
        <div class="project-card__thumb">
          <img
            class="image project-card__image"
            src="./images/portfolio/growing-business.jpg"
            alt="Дизайн Growing Business"
            width="370"
          />
          <p class="project-card__article">
            Growing business - це сумнівна фірма, яка виманить у Вас останні
            гроші, щоб посадити їх у благодатний грунт своїх кишень
          </p>
        </div>
        <div class="project-card__description">
          <h2 class="title project-card__title">Growing Business</h2>
          <p class="project-card__kind">Додаток</p>
        </div>
      </li>
    </ul>
  </div>
</section>
