<section class="section clientage">
  <div class="container">
    <h2 class="title section-title">Постійні клієнти</h2>
    <ul class="list clientage__list">
      <li class="clientage__item">
        <a
          class="link clientage__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="icon clientage__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-ya-co"></use>
          </svg>
        </a>
      </li>
      <li class="clientage__item">
        <a
          class="link clientage__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="icon clientage__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-tag-line"></use>
          </svg>
        </a>
      </li>
      <li class="clientage__item">
        <a
          class="link clientage__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="icon clientage__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-citrus"></use>
          </svg>
        </a>
      </li>
      <li class="clientage__item">
        <a
          class="link clientage__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="icon clientage__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-foster-peters"></use>
          </svg>
        </a>
      </li>
      <li class="clientage__item">
        <a
          class="link clientage__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="icon clientage__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-brand"></use>
          </svg>
        </a>
      </li>
      <li class="clientage__item">
        <a
          class="link clientage__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="icon clientage__icon" width="106" height="60">
            <use href="./images/icons.svg#icon-cube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
