<footer class="footer">
  <div class="container footer__container">
    <div class="address-block footer__address-block">
      <a class="logo link address-block__logo logo--invert" href="./index.html"
        ><span class="logo__accent">Web</span>Studio</a
      >
      <address class="address">
        <a
          href="https://goo.gl/maps/X5hqmzbYpQWMFNwu7"
          target="_blank"
          rel="noopener noreferrer"
          class="link address__post-address"
          >м. Київ, пр-т Лесі Українки, 26</a
        >
        <ul class="list contacts contacts--footer address__contacts">
          <li class="contacts__item">
            <a href="mailto:info@devstudio.com" class="link contacts__link"
              >info@devstudio.com</a
            >
          </li>
          <li class="contacts__item">
            <a href="tel:+380961111111" class="link contacts__link"
              >+38 096 111 11 11</a
            >
          </li>
        </ul>
      </address>
    </div>

    <div class="footer__joining invitation">
      <h2 class="title invitation__title">Приєднуйтесь</h2>
      <ul class="list socials">
        <li>
          <a
            href=""
            target="_blank"
            rel="noopener noreferrer"
            class="link socials__link socials__link--inverse"
          >
            <svg class="icon socials__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href=""
            target="_blank"
            rel="noopener noreferrer"
            class="link socials__link socials__link--inverse"
          >
            <svg class="icon socials__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href=""
            target="_blank"
            rel="noopener noreferrer"
            class="link socials__link socials__link--inverse"
          >
            <svg class="icon socials__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href=""
            target="_blank"
            rel="noopener noreferrer"
            class="link socials__link socials__link--inverse"
          >
            <svg class="icon socials__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer__subscription invitation">
      <h2 class="title invitation__title">Підпишіться на розсилку</h2>
      <form name="subscription_form" class="subscription-form" action="">
        <input
          class="subscription-form__input"
          type="email"
          placeholder="E-mail"
        />
        <button class="button subscription-form__button" type="submit">
          <span class="subscription-form__span">Підписатися</span>
          <svg class="icon subscription-form__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-send"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</footer>
