<section class="section">
  <div class="container">
    <h2 class="title section-title visually-hidden">Наші пріоритети</h2>
    <ul class="list priorities-list">
      <li class="priorities-list__item priority-card">
        <div class="priority-card__decoration">
          <svg class="priority-card__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-antenna"></use>
          </svg>
        </div>
        <h3 class="title priority-card__title">УВАГА ДО ДЕТАЛЕЙ</h3>
        <p class="priority-card__article">
          Ідейні міркування, і навіть початок повсякденної роботи з формування
          позиції.
        </p>
      </li>
      <li class="priorities-list__item priority-card">
        <div class="priority-card__decoration">
          <svg class="priority-card__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <h3 class="title priority-card__title">ПУНКТУАЛЬНІСТЬ</h3>
        <p class="priority-card__article">
          Завдання організації, особливо рамки і місце навчання кадрів тягне у
          себе.
        </p>
      </li>
      <li class="priorities-list__item priority-card">
        <div class="priority-card__decoration">
          <svg class="priority-card__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-diagram"></use>
          </svg>
        </div>
        <h3 class="title priority-card__title">ПЛАНУВАННЯ</h3>
        <p class="priority-card__article">
          Так само консультація з широким активом значною мірою зумовлює.
        </p>
      </li>
      <li class="priorities-list__item priority-card">
        <div class="priority-card__decoration">
          <svg class="priority-card__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-astronaut"></use>
          </svg>
        </div>
        <h3 class="title priority-card__title">СУЧАСНІ ТЕХНОЛОГІЇ</h3>
        <p class="priority-card__article">
          Значимість цих проблем настільки очевидна, що реалізація планових
          завдань.
        </p>
      </li>
    </ul>
  </div>
</section>
