<section class="section team">
  <div class="container">
    <h2 class="title section-title">Наша команда</h2>
    <ul class="list team-list">
      <li class="team-list__item person-card">
        <img
          class="image person-card__image"
          srcset="
            ./images/index/demianenko/mobile/img.jpg     450w,
            ./images/index/demianenko/mobile/img@2x.jpg  900w,
            ./images/index/demianenko/tablet/img.jpg     354w,
            ./images/index/demianenko/tablet/img@2x.jpg  708w,
            ./images/index/demianenko/desktop/img.jpg    270w,
            ./images/index/demianenko/desktop/img@2x.jpg 540w
          "
          src="./images/index/demianenko/mobile/img.jpg"
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
          min-width="270"
          alt="Product Designer"
        />
        <h3 class="title person-card__title">Ігор Дем'яненко</h3>
        <p lang="en" class="person-card__article">Product Designer</p>
        <ul class="list socials">
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-list__item person-card">
        <img
          class="image person-card__image"
          srcset="
            ./images/index/riepina/mobile/img.jpg     450w,
            ./images/index/riepina/mobile/img@2x.jpg  900w,
            ./images/index/riepina/tablet/img.jpg     354w,
            ./images/index/riepina/tablet/img@2x.jpg  708w,
            ./images/index/riepina/desktop/img.jpg    270w,
            ./images/index/riepina/desktop/img@2x.jpg 540w
          "
          src="./images/index/riepina/mobile/img.jpg"
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
          min-width="270"
          alt="Frontend Developer"
        />
        <h3 class="title person-card__title">Ольга Рєпіна</h3>
        <p lang="en" class="person-card__article">Frontend Developer</p>
        <ul class="list socials">
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-list__item person-card">
        <img
          class="image person-card__image"
          srcset="
            ./images/index/tarasov/mobile/img.jpg     450w,
            ./images/index/tarasov/mobile/img@2x.jpg  900w,
            ./images/index/tarasov/tablet/img.jpg     354w,
            ./images/index/tarasov/tablet/img@2x.jpg  708w,
            ./images/index/tarasov/desktop/img.jpg    270w,
            ./images/index/tarasov/desktop/img@2x.jpg 540w
          "
          src="./images/index/tarasov/mobile/img.jpg"
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
          width="270"
          alt="Marketing"
        />
        <h3 class="title person-card__title">Микола Тарасов</h3>
        <p lang="en" class="person-card__article">Marketing</p>
        <ul class="list socials">
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-list__item person-card">
        <img
          class="image person-card__image"
          srcset="
            ./images/index/jermakov/mobile/img.jpg     450w,
            ./images/index/jermakov/mobile/img@2x.jpg  900w,
            ./images/index/jermakov/tablet/img.jpg     354w,
            ./images/index/jermakov/tablet/img@2x.jpg  708w,
            ./images/index/jermakov/desktop/img.jpg    270w,
            ./images/index/jermakov/desktop/img@2x.jpg 540w
          "
          src="./images/index/jermakov/mobile/img.jpg"
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw"
          width="270"
          alt="UI Designer"
        />
        <h3 class="title person-card__title">Михайло Єрмаков</h3>
        <p lang="en" class="person-card__article">UI Designer</p>
        <ul class="list socials">
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              target="_blank"
              rel="noopener noreferrer"
              class="link socials__link"
            >
              <svg class="icon socials__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
