<section class="section work">
  <div class="container">
    <h2 class="title section-title">Чим ми займаємося</h2>
    <ul class="list work__list">
      <li class="work__item">
        <div class="work-thumb">
          <img
            srcset="
              ./images/index/desktop/img.jpg    370w,
              ./images/index/desktop/img@2x.jpg 740w
            "
            src="./images/index/desktop/img.jpg"
            sizes="(min-width: 1200px) 370px,  100vw"
            min-width="370"
            alt="ноутбук"
          />
          <h3 class="work-thumb__title title">Десктопні додатки</h3>
        </div>
      </li>
      <li class="work-list__item">
        <div class="work-thumb">
          <img
            srcset="
              ./images/index/phone/img.jpg    370w,
              ./images/index/phone/img@2x.jpg 740w
            "
            src="./images/index/phone/img.jpg"
            sizes="(min-width: 1200px) 370px,  100vw"
            min-width="370"
            alt="смартфон"
          />
          <h3 class="work-thumb__title title">Мобільні додатки</h3>
        </div>
      </li>
      <li class="work-list__item">
        <div class="work-thumb">
          <img
            srcset="
              ./images/index/tablet/img.jpg    370w,
              ./images/index/tablet/img@2x.jpg 740w
            "
            src="./images/index/tablet/img.jpg"
            sizes="(min-width: 1200px) 370px,  100vw"
            min-width="370"
            alt="планшет"
          />
          <h3 class="work-thumb__title title">Дизайнерські рішення</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
