.address {
  font-style: map-get($fonts, 'main-font-style');
}

.address__post-address {
  margin-bottom: 12px;

  line-height: 1.14;
  letter-spacing: 0.03em;

  color: map-get($colors, 'clear-white-color');

  transition-duration: map-get($transitions, 'normal-transition-duration');
  transition-timing-function: map-get(
    $transitions,
    'normal-transition-timing-function'
  );
  transition-property: color;

  &:hover,
  &:focus {
    color: map-get($colors, 'brand-color');
  }
}
