.work-thumb {
  position: relative;

  text-align: center;
}

.work-thumb__title {
  position: absolute;
  bottom: 0px;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: map-get($colors, 'clear-white-color');
  background-color: rgba(47, 48, 58, 0.8);
}
