.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer__container {
  text-align: center;

  // Tablet styles
  @media screen and (min-width: map-get($breakpoints, 'tablet')) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  // Desktop styles
  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    text-align: left;
  }
}

.footer__address-block {
  margin-bottom: 60px;

  // Desktop styles
  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.address-block__logo {
  margin-bottom: 28px;
  padding: 0px;
}

.footer__joining {
  // Phone styles
  @media screen and (max-width: calc(map-get($breakpoints, 'tablet') - 0.02px)) {
    margin-bottom: 60px;
  }

  // Desktop styles
  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    margin-right: auto;
  }
}

.invitation__title {
  margin-bottom: 20px;
  text-align: center;

  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: map-get($colors, 'clear-white-color');

  // Desktop styles
  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    text-align: left;
  }
}
