.work {
  padding-top: 0px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  // Desktop styles
  @media screen and (max-width: calc(map-get($breakpoints, 'desktop') - 0.02px)) {
    display: none;
  }
}

.work__item {
  // Desktop styles
  @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    width: calc((100% - (30px * 2)) / 3);
  }
}
